@import 'bootstrap';
.header div {
    display: flex;
    justify-content: space-around;
}

.row.grid {
    gap: 20px 0px;
}

.card {
    height: 100%;
}

.hide {
    display: none;
}

.big {
    background-image: url('../src/assets/big.svg');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 21rem;
}

.small {
    background-image: url('../src/assets/small.svg');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.active {
    background-color: #198754;
}

li {
    list-style: none;
}
.col-4 a,
.col-2 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn btn-outline-dark {
    z-index: 2;
}

.button-card {
    width: 100%;
}

.select {
    border: 1px solid #198754;
}

#total-price {
    width: 300px;
}

.header-buttons:nth-child(3) {
    background-image: url('../src/assets/basket.svg');
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0;
}
